.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--header-padding);

  @media (min-width: 768px) {
    padding: var(--header-padding-large);
    flex-direction: row;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}

.nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: var(--nav-gap);
    font-size: var(--nav-font-size);

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 1rem; /* Adjust the gap for mobile view */
    }
  }

  a {
    text-decoration: none;
    color: var(--primary-text-color);
    padding: var(--nav-link-padding);
    border-radius: var(--nav-link-border-radius);

    &:hover,
    &:active {
      background: linear-gradient(
        90deg,
        var(--gradient-start),
        var(--gradient-end)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0 0 18px var(--text-shadow-color);
    }
  }

  .active {
    background: linear-gradient(
      90deg,
      var(--gradient-start),
      var(--gradient-end)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--logo-gap);
  text-decoration: none;
  color: var(--logo-text-color);
  font-weight: bold;
  font-family: var(--font-family-logo);
  letter-spacing: var(--logo-letter-spacing);
  text-transform: uppercase;
  font-size: var(--logo-font-size);

  img {
    width: var(--logo-image-width);
    height: var(--logo-image-height);
    object-fit: contain;
    filter: drop-shadow(0 0 var(--logo-shadow-size) var(--logo-shadow-color));
  }

  &:hover {
    text-shadow: 0 0 18px var(--text-shadow-color);
  }

  @media (max-width: 767px) {
    margin-bottom: 1rem;
  }
}
