@import "@app/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $header-padding;
  position: relative;
  z-index: 1;

  @media (min-width: 768px) {
    padding: $header-padding-large;
    flex-direction: row;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
}

.nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: $nav-gap;
    font-size: $nav-font-size;
    position: relative;
    z-index: 1;
    align-items: center;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      gap: 1rem; /* Adjust the gap for mobile view */
      padding: 0;
    }
  }

  li {
    @media (max-width: 767px) {
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }

  a {
    text-decoration: none;
    color: $primary-text-color;
    padding: $nav-link-padding;
    border-radius: $nav-link-border-radius;
    z-index: 1;

    &:hover {
      background: linear-gradient(90deg, $gradient-start, $gradient-end);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0 0 18px $text-shadow-color;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $logo-gap;
  text-decoration: none;
  color: $logo-text-color;
  font-weight: bold;
  font-family: $font-family-logo;
  letter-spacing: $logo-letter-spacing;
  text-transform: uppercase;
  font-size: $logo-font-size;
  position: relative;
  z-index: 1;

  img {
    width: $logo-image-width;
    height: $logo-image-height;
    object-fit: contain;
  }

  &:hover {
    text-shadow: 0 0 18px $text-shadow-color;
  }

  @media (max-width: 767px) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
