@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap");
@import "./variables.css";

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-primary);
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(
    180deg,
    var(--background-gradient-start),
    var(--background-gradient-end)
  );
  color: var(--body-text-color);
}

main {
  text-align: center;
  margin: var(--main-margin);
}

main img {
  width: var(--image-width);
  height: var(--image-height);
  object-fit: cover;
  filter: drop-shadow(0 0 var(--image-shadow-size) var(--image-shadow-color));
}

.main {
  text-align: center;
  padding: var(--main-padding);
}

.title {
  font-size: var(--title-font-size);
}

.position {
  font-size: var(--position-font-size);
  color: var(--position-text-color);
}

.link {
  color: var(--link-color);
  text-decoration: underline;
}

h1 {
  color: var(--primary-text-color);
}

p {
  font-size: var(--paragraph-font-size);
  color: var(--primary-text-color);
}

p a:hover,
p a:active {
  color: var(--link-hover-color);
  border-color: var(--link-hover-color);
}
