@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Oswald", sans-serif;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(180deg, #07183d, #001a34);
  color: #ddd8e4;
}

main {
  text-align: center;
  margin: 5rem auto;
}

main img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  filter: drop-shadow(0 0 4px #f6c363);
}

.main {
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 2.5rem;
}

.position {
  font-size: 1.5rem;
  color: gray;
}

.link {
  color: turquoise;
  text-decoration: underline;
}
p {
  font-size: 16px;
}

p a:hover,
p a:active {
  color: #bd3df4;
  border-color: #bd3df4;
}
