/* Home.module.css */
.main {
  text-align: center;
  padding: 20px;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

.title {
  font-size: 2.5rem;
}

.position {
  font-size: 1.5rem;
  color: gray;
}

.link {
  color: turquoise;
  text-decoration: underline;
}
