@import "../variables.scss";

.links {
  display: flex;
  flex-direction: column;
}

.link {
  margin-top: 5rem;
  padding: 3rem;

  @include respond-to("sm") {
    margin-top: 0;
    padding: 1rem;
  }
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
  position: relative;
  z-index: 1;
  @include respond-to("sm") {
    flex-direction: column;
    gap: 1rem;
  }
}

.projectLink {
  text-decoration: none;
  color: $primary-text-color;
  border-radius: $nav-link-border-radius;
  position: relative;
  z-index: 1;
  background: linear-gradient(
    90deg,
    #ff6a00,
    #ee0979,
    #42e695,
    #3bb78f,
    #6e7ff2
  );
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; /* Make text transparent */
  -webkit-text-fill-color: transparent; /* For better support on Safari */
  animation: gradient-animation 5s infinite alternate; /* Apply the animation */
  text-align: center;

  @include respond-to("sm") {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    background: linear-gradient(90deg, $gradient-start, $gradient-end);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 18px $text-shadow-color;
  }
}

/* Keyframes for gradient animation */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
